*{
    margin: 0;
    padding: 0;

}
body{
    /* background-color: solid black; */
    background-color: black;

}
header{
    
    background-color:#2874f0;
    /* border: 2px solid red; */
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 28px;
   
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18pt;
   
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
    margin-left: 7vw;
    /* font-size: 16pt; */
}
.search input{
    width: 549px;
    height: 39px;
    font-size: 16pt;
    border-radius: 20px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.searh button{
    font-family: 'Baloo Bhai 2', cursive;
    
}
.slider img{
    border-radius: 20px;
}
.slider img:hover{
    box-shadow: 0 20px 6px rgba(167, 5, 8, 0.12), 0 1px 40px rgba(253, 11, 11, 0.979);

}
.slider{
    margin: 12px auto ;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
  max-width: 91vw;
  margin: auto;
  font-family: 'Baloo Bhai 2', cursive;
  
}
.card h2{
    font-family: 'Baloo Bhai 2', cursive;
}
.ci img{
    border-radius: 16px;
}
.ci img:hover{
    box-shadow: 0 20px 6px rgba(35, 5, 167, 0.12), 0 1px 30px rgba(253, 11, 11, 0.979);
}
.ci{
    width: 10vw;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lines{
    font-size: 18pt;
    font-style: italic;
    color: yellow;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer{
    height: 12vh;
    background-color: #2874f0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 30px;
}
